<form [formGroup]="formulario">
  <div class="p-grid">

    <!-- Primeira Metade -->
    <div class="p-col-12 p-md-6 p-nogutter">
      <div class="p-grid">
        <div class="p-col-12">
          <h5>Dados do Atleta</h5>
          <hr>
        </div>
        <div class="p-col-12 p-md-6">
          <input class="inputWidth" id="nomeAtleta" readonly name="nomeAtleta"
            type="text"
            pInputText formControlName="nome" />
        </div>
        <div class="p-col-12 p-md-6">
          <p-inputMask [style]="{'width':'100%'}" id="cpf" readonly="true" mask="999.999.999-99" formControlName="cpf"></p-inputMask>
        </div>
        <div class="p-col-12 p-md-6">
          <input class="inputWidth" id="endereco" size="" type="text" pInputText
            placeholder="Endereço" formControlName="endereco" />
        </div>
        <div class="p-col-12 p-md-6">
          <p-dropdown [style]="{'width':'100%'}" [options]="graduacoes"
            name="graduacao"
            formControlName="faixa"></p-dropdown>
        </div>
        <div class="p-col-6">
          <input class="inputWidth" id="fck" size="5" pKeyFilter="pint"
            type="text" pInputText
            placeholder="Cadastro FCK"
            formControlName="federacao" />
        </div>
        <div class="p-col-6">
          <input class="inputWidth" id="cbk" size="5" pKeyFilter="pint"
            type="text" pInputText
            placeholder="Cadastro CBK"
            formControlName="confederacao" />
        </div>
        <div class="p-col-12">
          <p-dropdown [style]="{'width':'100%'}" [options]="associacoes"
            name="associacoes"
            formControlName="associacao"></p-dropdown>
        </div>
      </div>
    </div>

    <!-- Segunda Metade -->
    <div class="p-col-12 p-md-6 p-nogutter">
      <div class="p-grid">
        <div class="p-col-12">
          <h5>Dados do Responsável</h5>
          <hr>
        </div>
        <div class="p-col-12 p-md-6">
          <input class="inputWidth" id="nomeResponsavel" size="30" type="text"
            pInputText
            placeholder="Nome"
            formControlName="nomeResponsavel" />
        </div>
        <div class="p-col-12 p-md-6">
          <p-inputMask [style]="{'width':'100%'}" placeholder="Celular" id="telefoneResponsavel" mask="(99) 99999-9999" formControlName="telefoneResponsavel"></p-inputMask>
        </div>
        <div class="p-col-12 p-md-6">
          <p-inputMask [style]="{'width':'100%'}" placeholder="CPF" id="cpfResponsavel" mask="999.999.999-99" formControlName="cpfResponsavel"></p-inputMask>
        </div>
      </div>
    </div>

    <!-- Campos de retorno para o usuario -->
    <div class="p-col-12">
      <p-message *ngIf="formulario.valid" severity="success" text="Tudo
        certo! Você pode ir para a confirmação dos dados."></p-message>
      <p-message *ngIf="!formulario.valid" severity="warn" text="Por favor,
        preencha corretamente os dados para continuar."></p-message>
    </div>
  </div>
</form>
