<div class="divAtletaFuncoes">
  <h5 class="gambiarra">a</h5>

  <h4>
    Gerenciar Atletas
  </h4>
  <hr />

  <div class="divGerenciar">
    <div class="card-deck">

      <div class="card">
        <img src="../../../assets/Imagens/administrativo/logo-fck.png" class="card-img-top logoFck" alt="...">
        <hr>
        <div class="card-body">
          <h5 class="card-title">Cadastrar na FCK</h5>
          <p class="card-text">
            Cadastre atletas na Federação para participares de campeonatos e exames de faixa.
            O cadastro possui um valor simbólico.
          </p>
        </div>
        <div class="card-footer">
           <a type="button" class="btn btn-outline-info" target="_blank" href="http://www.fck.g2e.com.br/">Abrir site FCK</a>
        </div>
      </div>

      <div class="card">
        <img src="../../../assets/Imagens/administrativo/email.png" class="card-img-top" alt="...">
        <hr>
        <div class="card-body">
          <h5 class="card-title">Contate o Atleta</h5>
          <p class="card-text">
            Faça contato com o atleta! Envie documentos, boletos e fichas de inscrição.
          </p>
        </div>
        <div class="card-footer">
          <button type="button" class="btn btn-outline-info" (click)="onEnviaEmail()">Enviar e-mail</button>
        </div>
      </div>

      <div class="card">
        <img src="../../../assets/Imagens/administrativo/financeiro-icon.png" class="card-img-top" alt="...">
        <hr>
        <div class="card-body">
          <h5 class="card-title">Financeiro</h5>
          <p class="card-text">
            Administre os atletas com mensalidades pendentes, inscrições em aberto ou qualquer outra eventualidade.
          </p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
  </div>
</div>
