// Div Tela Cadastro
.divCad {
  margin-top: 1em;
}

//
// Div Formulario
//
.divFormulario hr {
  margin: 0;
  margin-bottom: 0.5em;
}

// Div Logo
.divLogo {
  text-align: center;
}

.divLogo img {
  max-width: 10em;
}

// Imagem Lateral
.divImagem {
  background: url("../../../../assets/Imagens/karate01.jpg") no-repeat center;
  background-size: cover;
}
