// Formulario
.formulario {
  margin-top: 2em;
}

// Botoes
.rowBotoes {
  margin: 0px;
}
.rowBotoes button {
  margin-right: 6px;
}
// Validacoes dos campos
.ng-invalid.ng-touched:not(form) {
  border: 1px solid red;
}

.invalid-feedback {
  display: inline !important;
}
