.divAtletaFuncoes {
  // padding-top: 1em;
  padding-right: 1em;
}
.gambiarra {
  color: white;
  text-decoration: none;
  cursor: default;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

// Cards
.card hr{
  margin: 0;
}
.card-footer{
  text-align: center;
}
.logoFck{
  padding: 1em;
}
