<h3>Lista de Pessoas</h3>
<div>
  Colocar um filtro
</div>
<p-table [columns]="cols" [value]="pessoas" [rows]="rows">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th
        *ngFor="let col of columns"
        [pSortableColumn]="col.field"
        [ngSwitch]="col.header"
      >
        <ng-template ngSwitchCase="Ação">
          {{ col.header }}
        </ng-template>

        <ng-template ngSwitchDefault>
          {{ col.header }}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </ng-template>
      </th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr>
      <td *ngFor="let col of columns" [ngSwitch]="col.header">
        <ng-template ngSwitchCase="CPF">
          {{ rowData[col.field] | mascaraCpf }}
        </ng-template>

        <ng-template ngSwitchCase="Data Nasc.">
          {{ rowData[col.field] | dataNascimento }}
        </ng-template>

        <ng-template ngSwitchCase="Sexo">
          {{ rowData[col.field] }}
        </ng-template>
        <ng-template ngSwitchDefault>
          {{ rowData[col.field] }}
        </ng-template>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-paginator
  [rows]="rows"
  [totalRecords]="totalRecords"
  pageLinkSize="3"
  showCurrentPageReport="true"
  currentPageReportTemplate="Mostrando {last} de {totalRecords} registros."
  (onPageChange)="getValuesFromDatabase($event)"
>
</p-paginator>
