<div class="divAtleta">
  <h5 class="gambiarra">a</h5>
  <h4>Cadastro de Atletas</h4>
  <hr />

  <div class="divFormulario">
    <form [formGroup]="formulario">
      <div class="form-row  ">
        <!-- Parte Formulario -->
        <div class="form-group col-md-6 col-sm-12 ">
          <div class="form-group col-md-12 col-sm-12">
            <label for="cpfAtleta">Digite o CPF do novo atleta</label>
            <input type="text" [textMask]="{ mask: maskCpf }" class="form-control" formControlName="cpfAtleta"
              id="cpfAtleta" (blur)="buscarDadosAtleta()"
              [ngClass]="validacoesForm.aplicaCssCpf(formulario.get('cpfAtleta'))" />
            <!-- Div Mensagem de Erro -->
            <app-campo-control-erro [mostraErro]="validacoesForm.verificaValidTouched(formulario.get('cpfAtleta'))"
              msgErro="CPF do atleta é obrigatório.">
            </app-campo-control-erro>
          </div>

          <div *ngIf="pessoa !== null">
            <div class="form-group col-md-12 col-sm-12">
              <label for="nomeResp">Nome da Mãe</label>
              <input type="text" class="form-control" id="nomeResp" formControlName="nomeResp"
                [ngClass]="validacoesForm.aplicaCss(formulario.get('nomeResp'))" />

              <!-- Div Mensagem de Erro -->
              <app-campo-control-erro [mostraErro]="validacoesForm.verificaValidTouched(formulario.get('nomeResp'))"
                msgErro="Nome do responsável é obrigatório.">
              </app-campo-control-erro>
            </div>

            <div class="form-group col-md-12 col-sm-12 grupoForm">
              <div class="col-md-6 divEsquerda ">
                <label for="cpfResp">CPF da Mãe</label>
                <input type="text" class="form-control" id="cpfResp" [textMask]="{ mask: maskCpf }"
                  formControlName="cpfResp" [ngClass]="validacoesForm.aplicaCssCpf(formulario.get('cpfResp'))" />

                <!-- Div Mensagem de Erro -->
                <app-campo-control-erro [mostraErro]="validacoesForm.verificaValidTouched(formulario.get('cpfResp'))"
                  msgErro="CPF do responsável é obrigatório.">
                </app-campo-control-erro>
              </div>

              <div class="col-md-6 divDireita ">
                <label for="telefone">Celular do Responsável</label>
                <input type="text" class="form-control" id="telefone" formControlName="telResp"
                  [textMask]="{ mask: maskTel }" [ngClass]="validacoesForm.aplicaCss(formulario.get('telResp'))" />
                <!-- Div com mensagem de erro para o usuário -->
                <app-campo-control-erro [mostraErro]="validacoesForm.verificaValidTouched(formulario.get('telResp'))"
                  msgErro="Número de celular é obrigatório.">
                </app-campo-control-erro>
              </div>
            </div>

            <div class="form-group col-md-12 col-sm-12 grupoForm">
              <div class="col-md-6 divEsquerda ">
                <label for="dataInicio">Data de início da prática</label>
                <input type="text" class="form-control" id="dataInicio" [textMask]="{ mask: maskData }"
                  formControlName="dataInicio" [ngClass]="validacoesForm.aplicaCss(formulario.get('dataInicio'))" />
                <!-- Div Mensagem de Erro -->
                <app-campo-control-erro [mostraErro]="validacoesForm.verificaValidTouched(formulario.get('dataInicio'))"
                  msgErro="Data de início da prática inválida.">
                </app-campo-control-erro>
              </div>

              <div class="col-md-6 divDireita ">
                <label for="grauAtleta">Grau do atleta</label>
                <select class="custom-select" id="grauAtleta" formControlName="grau"
                  [ngClass]="validacoesForm.aplicaCss(formulario.get('grau'))">

                  <option value="1" selected>Branca</option>
                  <option value="2">Amarela</option>
                  <option value="3">Vermelha</option>
                  <option value="4">Laranja</option>
                  <option value="5">Verde</option>
                  <option value="6">Roxa</option>
                  <option value="7">Marrom</option>
                  <option value="8">Preta</option>
                </select>

                <!-- Div Mensagem de Erro -->
                <app-campo-control-erro [mostraErro]="validacoesForm.verificaValidTouched(formulario.get('grau'))"
                  msgErro="Selecione o grau do Atleta.">
                </app-campo-control-erro>
              </div>
            </div>

            <div class="form-group col-md-12 col-sm-12 grupoForm">
              <div class="col-md-6 divEsquerda ">
                <label for="cadFck">Federação Catarinense</label>
                <input type="text" class="form-control" id="cadFck" formControlName="federacao"
                  [ngClass]="validacoesForm.aplicaCss(formulario.get('federacao'))" />
              </div>

              <div class="col-md-6 divDireita ">
                <label for="cadCbk">Confederação Brasileira</label>
                <input type="text" class="form-control" id="cadCbk" formControlName="confederacao"
                  [ngClass]="validacoesForm.aplicaCss(formulario.get('confederacao'))" />
              </div>
            </div>

            <!-- Spinner carregamento -->
            <div class="spinner-border text-success" role="status" *ngIf="spinnerCarregarCadastro">
              <span class="sr-only">Loading...</span>
            </div>

            <div class="form-group col-md-12 col-sm-12">
              <button type="submit" class="btn btn-outline-success" (click)="onSubmit()">
                Cadastrar
              </button>

              <button type="button" class="btn btn-outline-danger" (click)="cancelarCadastro()">
                Cancelar
              </button>
            </div>
          </div>
        </div>

        <!-- Parte de dados do Atleta -->
        <div class="form-group col-md-6 col-sm-12 divLateralDireita">
          <!-- Spinner carregamento -->
          <div class="spinner-border text-success" role="status" *ngIf="spinnerCarregar">
            <span class="sr-only">Loading...</span>
          </div>
          <!-- Validacao se a pesquisa foi feita. -->
          <div *ngIf="pessoa !== null">
            <h5 class="divNome">{{ pessoa.nome | uppercase }}</h5>
            <div class="media">
              <div class="media-body divDadosPessoais ">
                <p class="font-weight-bold">Dados pessoais</p>
                <hr />
                <p>
                  <span class="font-weight-bold">CPF:</span>
                  {{ pessoa.cpf | mascaraCpf }}
                </p>
                <p>
                  <span class="font-weight-bold">E-mail:</span>
                  {{ pessoa.email }}
                </p>
                <p>
                  <span class="font-weight-bold">Celular:</span>
                  {{ pessoa.telefone }}
                </p>
                <p>
                  <span class="font-weight-bold">Data Nasc.:</span>
                  {{ pessoa.dataNascimento }}
                </p>
                <p>
                  <span class="font-weight-bold">Situação:</span> Adimplente
                </p>
              </div>
              <img src="../../../assets/Imagens/user1.png" class="imagem align-self-center mr-3 " alt="Imagem Atleta" />
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>