.divRow {
  margin-right: 0;
  padding-top: 2em;
}
.divMenus {
  text-align: center;
  padding-left: 1em;
}

.subMenu {
  background-color: rgba(189, 241, 182, 0.616);
}
.linkInicio {
  background-color: rgb(189, 241, 182);
}

.linkInicio,
.subMenu {
  font-weight: bold !important;
  cursor: pointer;
}
.list-group-item {
  color: black !important;
}

// Alinhando o painel quando a tela ficar menor
@media (max-width: 768px) {
  .col-sm-12 {
    padding-right: 0;
  }
}

// Spinner
.rowSpinner{
  width: 100%;
  align-items: center;
}
.divSpinner{
  margin: 0 auto;
}
