<header class="header ui-g">
  <div class="divLeft">
    <img src="./../../../assets/header/logotipo1.png" class="logotipo">
  </div>
  <div class="divCentral">
      <p-menubar [model]="itemsMenuBar" class="pMenu">
        <button pButton label="Sair" icon="pi pi-power-off"></button>
      </p-menubar>
  </div>
</header>

<div class="ui-g">
<div class="divMenu">
  <p-menu [model]="itemsMenu"></p-menu>
</div>
  <div class="ui-g-nopad divCentral">
    <div class="ui-g-12 ui-g-nopad">
      <router-outlet></router-outlet>
    </div>
    </div>
</div>
