<div class="p-grid sample-layout">
  <!-- Div Menu -->
  <div class="p-col-12 p-md-2" style="padding-right: 0!important;">
    <p-menu [model]="itemsMenu"></p-menu>
  </div>

  <!-- Div Central -->
  <div class="p-col-12 p-md-10 p-col-nogutter">
    <!-- Div Top Bar -->
    <div class="p-col-12 ">
        <p-menubar [model]="itemsMenuBar">
          <button pButton label="Sair" icon="pi pi-power-off"></button>
        </p-menubar>
    </div>
    <!-- Conteudo Div Central -->
    <div class="p-col-12 p-nogutter">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
