// Modal com os Detalhes do Atleta
.modal-content {
  max-width: 700px !important;
}

ul {
  list-style-type: none;
}

li {
  margin-left: -2.5em;
}

.infoPessoal {
  padding: 1em;
}


// Spinner
.divSpinner{
  margin: auto;
  padding: 1em;
}
